
click>=8.1.8
docling>=2.14.0
fastapi>=0.115.6
pypdf2>=3.0.1
python-dateutil>=2.9.0
python-docx>=1.1.2
python-multipart>=0.0.20
pyyaml>=6.0.2
rich>=13.9.4
uvicorn>=0.34.0
google-generativeai
openai
ollama
twilio
openai
pdf2image
trafilatura
